{% extends 'base.html' %}
{% block style %}<link rel="stylesheet" href="../static/car_info.css">{% endblock %}
{% block title %}Sobre{% endblock %}

{% block content %}
    <div class="container">
        <h1>Sobre o {{ carro.nome }}</h1>
        {% if imagens != [] %}
            <div class="carrossel-gambiarra">
                <button class="btn btn-primary" onclick="anterior()">Anterior</button>
                <img id="imagemCarrossel" src="{{ imagens[0].link }}">
                <button class="btn btn-primary" onclick="proximo()">Próximo</button>
            </div>
        {% endif %}
        <p>{{ carro.descricao }}</p>
        <p>Marca: {{ carro.marca }}</p>
        <p>Ano de fabricação: {{ carro.ano_fabricacao }}</p>
        <p>Consumo (km/l misto): {{ carro.consumo }}</p>
        <div class="buttons">
            {% if carro.locador == None %}
                <a class="btn btn-outline btn-success" href="{{ url_for('routes.processamento', carro_id=carro.id) }}">Alugar</a>
            {% endif %}
            <a class="btn btn-outline btn-secondary" href="{{ url_for('routes.catalogo') }}">Voltar</a>
        </div>

    </div>

<script>
    var imagens = {{ imagens | tojson }};
    var indiceAtual = 0;

    function mostrarImagem(indice) {
        document.getElementById("imagemCarrossel").src = imagens[indice].link;
    }

    function proximo() {
        indiceAtual = (indiceAtual + 1) % imagens.length;
        mostrarImagem(indiceAtual);
    }

    function anterior() {
        indiceAtual = (indiceAtual - 1 + imagens.length) % imagens.length;
        mostrarImagem(indiceAtual);
    }
</script>
{% endblock %}
