{% extends 'base.html' %}
{% block style %}<link rel="stylesheet" href="../static/catalogo.css">{% endblock %}
{% block title %}Seus carros{% endblock %}
{% block content %}
    <h2 style="margin:24px 0px; text-align:center; text-transform:uppercase;">Veículos alugados por {{ current_user.nome }}</h2>
    <div class="products-container">
        {% if carros == [] %}
            <h2>Você ainda não tem carros alugados! Para alugar um carro, basta ir ao catálogo e fazer a sua escolha.</h2>
        {% else %}
            {% for carro in carros %}
                <div class="product-container">
                    {% if carro.imagem[0] %}<img src="{{ carro.imagem[0].link }}" alt="imagem do carro"/>{% endif %}
                    <h3>{{ carro.nome }}</h3>
                    <p>{{ carro.descricao }}</p>

                    <div class="buttons">
                        <a class="btn btn-outline btn-info" href="{{ url_for('routes.car_info', carro_id=carro.id) }}">Ver mais</a>
                        <a class="btn btn-outline btn-info" href="{{ url_for('routes.devolucao', carro_id=carro.id) }}">Devolver</a>
                    </div>

                </div>
            {% endfor %}
        {% endif %}
    </div>

{% endblock %}