{% extends 'base.html' %}
{% block style %}<link rel="stylesheet" href="../static/catalogo.css">{% endblock %}
{% block title %}Catálogo{% endblock %}
{% block content %}
    <h2>Veículos disponíveis</h2>
    <div class="products-container">
        {% for carro in carros %}
        <div class="product-container">
            {% if carro.imagem[0] %}<img src="{{ carro.imagem[0].link }}" alt="imagem do carro"/>{% endif %}
            <h3>{{ carro.nome }}</h3>
            <p>{{ carro.descricao }}</p>
            <p>Preço base: <span class="price">R${{ carro.preco_base }}</span></p>

            <div class="buttons">
                <a class="btn btn-outline btn-info" href="{{ url_for('routes.car_info', carro_id=carro.id) }}">Ver mais</a>
                <a class="btn btn-outline btn-success" href="{{ url_for('routes.processamento', carro_id=carro.id) }}">Alugar</a>
            </div>

        </div>
        {% endfor %}
    </div>

{% endblock %}