{% extends 'base.html' %}
{% block style %}<link rel="stylesheet" href="../static/deletar_usuarios.css">{% endblock %}
{% block title %}Deletar usuário{% endblock %}
{% block content %}
    <div class="deletar-usuarios-container">
        <h1>Deletar usuários</h1>
        <p>Algum usuário não entra há muito tempo? Pediu para remover a conta do sistema pois perdeu a senha? Isso pode ser feito por aqui</p>
        {% for usuario in users %}
            <div class="user-text">
                <p>{{usuario.nome}}</p><a href="{{ url_for('routes.apagar_usuario', user_id=usuario.id) }}">Deletar</a>
            </div>
        {% endfor %}
    </div>
{% endblock %}