{% extends 'base.html' %}
{% block style %}<link rel="stylesheet" href="../static/edit.css">{% endblock %}

{% block title %}Edição{% endblock %}
{% block content %}
    <h2 style="margin:24px 0px; text-align:center; text-transform:uppercase;">Edição de veículos</h2>
    <div class="products-container">
        {% for carro in carros %}
        <div class="product-container">
            <h3>{{ carro.nome }}</h3>
            {% if carro.imagem[0] %}<img src="{{ carro.imagem[0].link }}" alt="imagem do carro"/>{% endif %}
            <p>Marca: {{ carro.marca }}</p>
            <p>Ano: {{ carro.ano_fabricacao }}</p>
            <p>Consumo (km/l): {{ carro.consumo }}</p>
            <p>Preço base: {{ carro.preco_base }}</p>
            <div class="buttons">
                <a class="btn btn-outline btn-danger" href="{{ url_for('routes.delecao_carro', carro_id=carro.id) }}">Deletar</a>
                <a class="btn btn-outline btn-info" href="{{ url_for('routes.edicao_carro', carro_id=carro.id) }}">Editar</a>
                <a class="btn btn-outline btn-info" href="{{ url_for('routes.adicionar_imagem', carro_id=carro.id) }}">Adicionar imagem</a>
                <a class="btn btn-outline btn-info" href="{{ url_for('routes.deletar_imagem', carro_id=carro.id) }}">Deletar imagem</a>
            </div>
        </div>
        {% endfor %}
    </div>

{% endblock %}