{% extends 'base.html' %}

{% block title %}Cadastrar veículo{% endblock %}

{% block content %}
    <div class="container">
        <form method="post" class="form-register">
            {{ form.hidden_tag() }}
            <h1>Editar veículo</h1>
            {{ form.nome.label() }}
            {{ form.nome(class='form-control') }}

            {{ form.marca.label() }}
            {{ form.marca(class='form-control') }}

            {{ form.ano_fabricacao.label() }}
            {{ form.ano_fabricacao(class='form-control') }}

            {{ form.consumo.label() }}
            {{ form.consumo(class='form-control') }}

            {{ form.preco_base.label() }}
            {{ form.preco_base(class='form-control') }}

            {{ form.descricao.label() }}
            {{ form.descricao(class='form-control', placeholder='Qualidades do carro (opcional)') }}


            {{ form.submit(class='btn btn-primary btn-lg btn-block') }}
        </form>
    </div>

    <style>
        .form-control { margin-bottom:24px; }
        .btn btn-primary { margin: auto; }
        h1 { text-align:center; margin-top:12px; }
    </style>
{% endblock %}